/AssemeblyLoadUnload/.vs
/AssemeblyLoadUnload/TypeV1/bin
/AssemeblyLoadUnload/TypeV1/obj
/AssemeblyLoadUnload/Main/bin
/AssemeblyLoadUnload/Main/obj
/AssemeblyLoadUnload/TypeV2/bin
/AssemeblyLoadUnload/TypeV2/obj
